.About {
    color: #fcf9ed;
    background-color: #1F2229;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -5px 0px 10px #524a6b;
}

.About h1 {
    font-family: 'Baloo', cursive;
    font-size: 4rem;
    margin: 0 auto .5rem;
}

.About p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    margin: .75rem;
}

.About p.small {
    font-size: 1rem;
}

.About img.react {
    box-sizing: border-box;
    padding: 30px 0;
    width: 400px;
    height: auto;
}

.About img.github {
    box-sizing: border-box;
    width: 100px;
    height: auto;
}

.About a {
    margin-top: .5rem;
    background-color: #000;
    border: 0;

    border-radius: .5rem;
    padding: 20px;
    cursor: pointer;
    transition: all .2s;
}

.About a:hover {
    box-shadow: 0px 0px 7px #fcf9ed;

}